body {
    font-family: "Single Day";
    color: white;
    background-color: #0d1117;
}

#sujade {
    max-width: 250px;
    border: 5px solid #342e62;
    border-radius: 50%;
}


.tech-buttons {
    transition: transform 150ms;
}

.tech-buttons:hover {
    transform: scale(1.2);
}

#projects {
    background-color: #342e62;
}

.card {
    background-color: #0d1117;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}