body {
    font-family: "Single Day";
    color: white;
    background-color: #0d1117;
}

#sujade {
    max-width: 250px;
    border: 5px solid #481ba6;
    border-radius: 50%;
    outline: 5px solid black;
}


.icon {
    transition: transform 150ms;
}

.icon:hover {
    transform: scale(1.2);
}

.projects {
    border: 5px solid #481ba6;
    outline: 5px solid black;
    display: inline-block;
    border-radius: 3%;
}

.card {
    background-color: #0d1117;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}